header {
    padding: 2em;
    background-color: #00aeff;
    margin-top: 2em;
    text-align: center;
    color: #ffff;
}

.container {
    color: goldenrod;
    border: solid 2px black;
    background-color: cadetblue;
    
}

.quote {
    font-size: 2em;
}

.btn-large {
    margin: 0.5em;
}

.card {
    text-align: center;
    width: 45em;
}

.new-quote-button {
    background-color: #0e5a7e;
    border-color: rgb(211, 180, 142);

}

#button:hover {
    background-color: rgb(228, 190, 20);
}